@model Shalu2.Models.Post


@{
    ViewData["Title"] = "Comments Details";
}

<h2>Comment Details:</h2>

<table class="table">


    @foreach (var item in Model.Comments)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentWriter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentWriterSite)
            </td>
            <td>
                @Html.ActionLink("Delete Comment", "DeleteComment", new { id = item.CommentId })
            </td>
        </tr>
    }
</table>
<a href="@Url.Action("Management", "Blog")">Back to post list</a>